@import "scss/colors";

$stateMarkerWidth: 0px;

/* Positive */
$positiveColor: $positiveTextColor;
$positiveBoxShadow: $stateMarkerWidth 0px 0px $positiveBorderColor inset;
$positiveBackgroundHover: darken($positiveBackgroundColor, 3);
$positiveColorHover: darken($positiveColor, 3);

/* Negative */
$negativeColor: $negativeTextColor;
$negativeBoxShadow: $stateMarkerWidth 0px 0px $negativeBorderColor inset;
$negativeBackgroundHover: darken($negativeBackgroundColor, 3);
$negativeColorHover: darken($negativeColor, 3);

/* Error */
$errorColor: $errorTextColor;
$errorBoxShadow: $stateMarkerWidth 0px 0px $errorBorderColor inset;
$errorBackgroundHover: darken($errorBackgroundColor, 3);
$errorColorHover: darken($errorColor, 3);

/* Warning */
$warningColor: $warningTextColor;
$warningBoxShadow: $stateMarkerWidth 0px 0px $warningBorderColor inset;
$warningBackgroundHover: darken($warningBackgroundColor, 3);
$warningColorHover: darken($warningColor, 3);
